body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: black;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* classe atribuida para a Div que vai receber o logotipo*/
.logotopo{
        width: 25%;
        margin-left: 15%;
        
}

nav{
    background-color: #000000;
    color: white;
    align-items: center;

    
}

main{
    background-color: rgb(253, 228, 0);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff; /* Adiciona uma borda de 2px sólida branca */
    font-family: 'Poetsen One', 'regular 400';
    border-radius: 20px;
      
}
section{
    background-color: rgb(0, 0, 0);
    color: white;
}
footer{
    background-color: transparent;
    padding: 3%;
    color: white;
    text-align: center;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.rodape{
    padding: 3%;
    margin-top: 25%;
}

.titulo{
    text-align: center;
    font-size: 3rem;
    padding: 2%;
    
}

.subtituloimg{
    font-size: 45px;
    padding: 1%;
    text-align: center;
}

.subtitulo{
    font-size: 3rem;
    padding: 1%;
    
}

.paragrafo{
    padding: 1%;
    font-size: 1rem;
}
/*==================================IMAGENS====================================================*/
.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: space-around;
   
    
}

.col_3{
    max-width: 100%;
    height: auto;
    
}

.col_3 p{
    font-size: 1rem;
    text-align: center;
}

.imggaleria{
    max-width: 100%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding: 3%;
}

@media screen and (max-width: 768px) {
    .linha {
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

/*==================================IMAGENS====================================================*/

.menu{
    display: flex;
    flex-direction: row;
    font-family: 'Poetsen One', 'regular 400';
    
}


nav ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

nav ul li {
    display: inline-block; /* Faz os itens ficarem lado a lado */
    margin-right: 10px; /* Espaçamento entre os itens */
    
    
   
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 15px;
}

 a:link, a:visited {
	background-color: #000000ad;
	color: rgb(253, 228, 0);
	border: 2px solid rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: right;
	text-decoration: none;
	display: inline-block;
    border-radius: 15px;
  }   

a:hover, a:active {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.subtitulo{
    font-family: 'Poetsen One', 'regular 400';
}

.paragrafo{
    font-family: 'Poetsen One', 'regular 400';
}

.paragrafo01{
    font-size: 1rem;
    padding: 1%;
}

@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Coloca os itens em coluna em telas menores */
    }

    nav ul li {
        margin-right: 0; /* Remove o espaçamento entre os itens na vertical */
        margin-bottom: 10px; /* Adiciona espaçamento entre os itens na vertical */
    }
}
.imgd{
    float: right;
    margin-right: 2%;
    width: 50%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .imgd {
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }

.textoali{
    text-align: center;
    font-size: 4rem;
    color:rgb(253, 228, 0);
    padding: 2%;
}

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(138, 138, 138);
    color:rgb(253, 228, 0);
  }

th:nth-child(even),td:nth-child(even) {
    background-color: rgb(168, 168, 168)
}
.tabela{
    margin: auto;
}