body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: black;
    padding: 3%;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* classe atribuida para a Div que vai receber o logotipo*/
.logotopo{
        width: 25%;
        margin-left: 15%;
        
}

nav{
    background-color: #000000;
    color: white;
    align-items: center;
    margin-left: auto;
    margin-right: 9%;
    
    
}

main{
    background-color: rgb(253, 228, 0);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff; /* Adiciona uma borda de 2px sólida branca */
    font-family: 'Poetsen One', 'regular 400';
    border-radius: 1%;
    
    
}
section{
    background-color: rgb(0, 0, 0);
    color: white;
}
footer{
    background-color: transparent;
    padding: 3%;
    color: white;
    text-align: center;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rodape{
    padding: 3%;
    margin-top: 25%;
}

.titulo{
    text-align: center;
    font-size: 50px;
    padding: 2%;
    
}

.subtituloimg{
    font-size: 45px;
    padding: 1%;
    text-align: center;
}

.subtitulo{
    font-size: 4rem;
    padding: 1%;
    
}

.paragrafo{
    padding: 1%;
    font-size: 20px;
}
/*==================================IMAGENS====================================================*/
.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: 2%;
    margin-right: 2%;
    
}

.col_3{
    width: 25%;
    
}

.col_3 p{
    font-size: 1rem;
    text-align: center;
}

.imggaleria{
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
}

.linha{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media screen and ( max-width: 768px){/*se a resolucao for menor q 768p as imagens ficam em coluna*/
    .linha{
        width: 100%;
        flex-direction: column;
    }
}
/*==================================IMAGENS====================================================*/

.menu{
    display: flex;
    flex-direction: row;
    font-family: 'Poetsen One', 'regular 400';

}


nav ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav ul li {
    display: inline; /* Faz os itens ficarem lado a lado */
    
    
   
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px; /* Espaçamento entre os itens */
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
}

a:link, a:visited {
	background-color: #000000ad;
	color: rgb(253, 228, 0);
	border: 2px solid rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: right;
	text-decoration: none;
	display: inline-block;
    border-radius: 15px;
  }
  
a:hover, a:active {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.subtitulo{
    font-family: 'Poetsen One', 'regular 400';
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
}

