body{
    background-color: rgb(99, 164, 250);
}
header{
    background-color: black;
    padding: 3%;
}
/* classe atribuida para a Div que vai receber o logotipo*/
.logotopo{
        width: 10%;
}

nav{
    background-color: #ffffff;
}
main{
    background-color: rgb(157, 71, 186);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    background-color: lightseagreen;
}
footer{
    background-color: aquamarine;
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}

.titulo{
    text-align: center;
    font-size: 50px;
    padding: 2%;
    
}

.subtituloimg{
    font-size: 45px;
    padding: 1%;
    text-align: center;
}

.subtitulo{
    font-size: 45px;
    padding: 1%;
    
}

.paragrafo{
    padding: 1%;
    font-size: 20px;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.col_3{
    width: 28%;
    padding: 1%;
}

.imggaleria{
    width: 20px;
    margin-left: 1%;
    margin-right: 1%;
    
}